.main {
  display: flex;
  height: 36  px;
  margin-top: 75px;
  border-bottom: 1px solid #e5e7eb;
  gap: 15px;
  align-items: center;
  justify-content: center;
  font-family: Arial, sans-serif;
}
.main img {
  width: 25px;
  margin-left: 0px;
  margin-right: 10px;
}
.main P {
  font-size: 14px;
}
.main P:hover {
  color: rgb(66, 125, 235);
  cursor: pointer;
}
